.container {
  position: absolute;
  width: 7rem;
  height: 100%;
  left: 0rem;
  top: 0rem;
  box-shadow: 4px 2px 22px 5px rgba(0,0,0,0.59);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  background: var(--white);
}

.container > img {
  margin-top: 30%;
  width: 3rem;
}

.switcher {
  margin-bottom: 30%;
}

.switcher img {
  margin-top: 20%;
  margin-left: 20%;
  width: 0.7rem;
}

.iconsContainer {
  display: flex;
  flex-direction: column;
}

.iconsContainer a {
  margin: 0 2rem;
}

.iconSelected {
  margin-bottom: 1rem;
  border-left: 4px solid var(--blue-dark);
  transition: all 0.2s;
}

.iconSelected svg {
  color: var(--blue-dark);
}

.iconNotSelected {
  margin-bottom: 1rem;
  border-left: 4px solid transparent;
  transition: all 0.2s
}
