DATABASE_URL= URL de conexão com o mongoDB
NEXTAUTH_URL= URL base do seu site ex: http://localhost:3000/
AUTH0_CLIENT_ID= Pode pegar no seu perfil auth0
AUTH0_CLIENT_SECRET= Pode pegar no seu perfil auth0
AUTH0_DOMAIN= URL disponibilizada na sua conta auth0